# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Git
.git
.gitignore
.github/

# Environment variables
.env
.env.*


# Build output
dist
build

# Tests and coverage
coverage
.scannerwork

# Cache
.cache
.vite
.tmp
.temp

# OS / editor files
.DS_Store
.vscode
.idea

# CI/CD and reports
Jenkinsfile
Dockerfile.jenkins
owasp-report
trivy-results

# Documentation
*.md
